<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for item in a_list %}
            <LI>
                {{ item['state_id'] }}: <B>{{ item['state_name'] }}</B>
                <UL>
                    {% for city in item['cities'] %}
                    <LI>{{ city['id'] }}: <B>{{ city['name'] }}</B></LI>
                    {% endfor %}
                </UL>
                {% endfor %}
            </LI>
        </UL>
    </BODY>
</HTML>
